.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  box-sizing: border-box;
}

body{
  margin:0;
}
p{
  font-size: 20px;
  text-align: center;
  width: 75%;
  

}
.titleText{
  text-align:center;
}

nav{
  background-color: #333;
  color:white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;

}
.site-title{
  font-size: 2rem;
}

.stuffDisplay{
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  justify-content: space-between;

}
.stuffDisplay img{
  width:250px;
  height:300px;

}
.nav ul{
  padding:0;
  margin: 0;
  list-style:none;
  display:flex;
  gap: 2rem;


}

.nav a{
  color:inherit;
  text-decoration:none;
  height: 100%;
  display: flex;
  align-items:center;
  padding: 0.25rem;
}

nav a.active{

  background-color: #61dafb;
}

.nav li.active{
  background-color:#555;
}
.nav li:hover{
  background-color:#777;
}


